# IDE settings
.idea
*.iml

# Jekyll's build of the site
.jekyll-metadata
_site

# Our Python environment
env35

# Compiled Python
*.pyc

# Installed node packages
node_modules

# Localized files
_config-test.localized.yml
tests/test-compose.localized.yml

# Any secrets, such as passwords or keys
/secrets
.Ds_Store
