---
---
<!DOCTYPE html>
<html>
  <head lang="en">
    <!-- PageHeader -->
    {% include base/pagehead.html %}

    <!-- Styles -->
    <link href="{{ site.baseurl }}/css/base/freelancer/styles.css" rel="stylesheet">

	</head>
	<body class="layout-freelancer" id="{{ page.url | slugify: 'pretty' }}">
    <!-- NavHeader -->
    {% include base/freelancer/nav.html %}

    <!-- Main -->
    {% include list_accounts.html %}
    {% include add_new_account.html %}
    <div class="container" id="base-main" >
      <!-- Content -->
      {{ content }}

        {% include base/freelancer/footer.html %}
    </div>
    <!-- Main End -->

    <!-- EndOfBody -->
    {% include base/bodyend.html %}
	</body>
</html>
